<header>
  <div class="masthead">
    <div class="conf-subhead">
      <img class="conf-mark" src="/images/fitc-mark.svg" />
      <span class="conf-title">Web Unleashed 2024</span>
      <img class="conf-mark" src="/images/netlify-mark.svg" />
    </div>
    <h1>Netlify Collect</h1>
    <p>
      Deploy your site to earn to start collecting primitives.
      <br />
      Collect at least six Netlify platform primitives for a chance to win
      <br />
      🎧
      <a
        href="https://electronics.sony.com/audio/headphones/headband/p/wh1000xm5-b"
        target="_blank"
      >
        Sony WH-1000XM5 headphones
      </a>
      🎧
    </p>
  </div>
</header>
